@inherits LayoutComponentBase

<PageTitle>SmallProjectManager</PageTitle>

<div class="page font-sans">
    <NavMenu/>

    <main>
        <article class="pt-2 px-4">
            @Body
        </article>
    </main>
</div>