<div class="h-screen bg-gray-200 w-32">
    <nav>
        <div class="w-full box-border">
            <NavLink href="" Match="NavLinkMatch.All" class="w-full block p-2">
                <span class="p-2 rounded-md hover:bg-gray-300 block text-center">Home</span>
            </NavLink>
        </div>
        <div class="w-full">
            <NavLink href="/projects" class="w-full block p-2">
                <span class="w-full p-2 rounded-md hover:bg-gray-300 block text-center">Projects</span>
            </NavLink>
        </div>
        <div class="w-full">
            <NavLink href="/people" class="w-full block p-2">
                <span class="w-full p-2 rounded-md hover:bg-gray-300 block text-center">People</span>
            </NavLink>
        </div>
        <div class="w-full">
            <NavLink href="/addressbook" class="w-full block p-2">
                <span class="w-full p-2 rounded-md hover:bg-gray-300 block text-center">Addressbook</span>
            </NavLink>
        </div>
    </nav>
</div>